ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BEBEBE;
    width: 400px;
  }
  
  li {
    float: left;
    border-right: 1px solid blue; 
  }
  
  
  li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #606060;
    color: white;
  }

  li a:hover {
    background-color: #606060;
    color: white;
  }
  
  .box{
      border: 1px solid black;
      display: inline-block;
      padding: 5px;
      width: 33%;
  }